# YouTube Data API v3 Key
# Get it from: https://console.cloud.google.com/
YOUTUBE_API_KEY=AIza....

# Gmail credentials
# Use an App Password (NOT your regular Gmail password)
# Generate at: https://myaccount.google.com/apppasswords
RESEND_API_KEY=re_4z5UR.....


# Email recipient (who receives the daily report)
RECIPIENT_EMAIL=example@gmail.com

